/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e9e9e9 0%, #b8b8b8 99%, #858585 100%);
    color: #fff;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 15px;
    /* background-color: lightgray; */
    color: #fff;
}
.logo {
    width: 90px;
    height: 40px;
    margin-right: 15px;
}
.title {
    font-size: 30px;
    color: black;
    font-weight: 900;
}
.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* border: 2px solid lime; */
    /* padding: 10px; */
}

.content {
    display: flex;
    flex: 1;
    /* gap: 2px; */
    /* background-color: #f2e5c2; */
}

/* AREA DE TEXTO CONTAINER 1*/
.textarea-container1 {
    flex: 2; 
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;      
}
textarea {
    width: 90%;
    height: 70%;
    font-size: 25px;
    padding: 20px;
    border-radius: 0.5em;
    background-color: #d1d1d1;
    border: none;
    font-weight: 800;
}

/* BOTONES */
.buttons {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 10px;
    gap: 20px;
}
.btn-encriptar{
    padding: 15px 25px;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    border-radius: 0.5em;    
    cursor: pointer;
    background-color: #0a3871;   
}
.btn-desencriptar{
    padding: 15px 25px;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    border-radius: 0.5em;    
    cursor: pointer;
    background-color: skyblue; 
}

.btn-encriptar {
    background-color: #0a3d6b;
    color: white;
}
.btn-encriptar:hover {
    background-color: #072a4a;
}

.btn-desencriptar {
    background-color: #f5f8ff;
    color: #0a3d6b;
    border: 2px solid #0a3d6b;
    border-radius: 0.5em;
}
.btn-desencriptar:hover {
    background-color: #e0eaff;
    border-radius: 0.5em;
}

/* AREA DE TEXTO CONTAINER 2*/
.textarea-container2 {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    position: relative;   
}
#lupa {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%; 
}
.btn-copiar{
    padding: 15px 25px;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    border-radius: 0.5em;    
    cursor: pointer;
    background-color: #e6e6e6; 
    color: black;
}
 
.btn-copiar {
    background-color: #f5f8ff;
    color: #0a3d6b;
    border: 2px solid #0a3d6b;
}
.btn-copiar:hover {
    background-color: #d9d9d9;
}

/*FOOTER*/
.footer {
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer p {
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    color: #080808; /* Cambia el color de los iconos */
    font-size: 30px; /* Tamaño de los iconos */
    transition: transform 0.3s ease;
}

.social-icons a i:hover {
    transform: scale(1.2);
}
/* Media Queries para Responsividad */
/* Para dispositivos móviles (menor a 600px de ancho) */
@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
    .textarea-container, .side-panel {
        flex: 1;
    }
    .buttons {
        flex-direction: row;
        gap: 10px;
    }
    /*header*/
    .header {
        flex-direction: row;
        align-items: center;
        padding: 15px;
        justify-content: flex-start;
    }

    .logo {
        margin-right: 0;
    }

    .title {
        font-size: 30px;
        text-align: center;
        font-weight: 900;
    }

    /*footer*/
    .footer {
        padding: 15px;
    }

    .footer p {
        font-size: 16px;
    }

    .social-icons {
        gap: 10px;
    }

    .social-icons a img {
        width: 25px;
        height: 25px;
    }
    #lupa {
        width: 50%;
        height: 50%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    textarea {
        font-size: 20px;
        font-weight: 600;
    }

}
/* Para tablets (entre 600px y 900px de ancho) */
@media (min-width: 600px) and (max-width: 900px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .textarea-container, .side-panel {
        flex: 1;
    }
    .buttons {
        justify-content: center;
    }
}
/* Para computadoras (mayor a 900px de ancho) */
@media (min-width: 900px) {
    .content {
        flex-direction: row;
    }
    .textarea-container {
        flex: 2;
    }
    .buttons {
        justify-content: space-between;
    }
}
